/*main style.scss*/
@import "_partials/variables";

/* Boostrap */
@import "~bootstrap/scss/bootstrap";

@import "~tinymce/skins/ui/oxide/content.min";
@import "~tinymce/skins/ui/oxide/skin.min";
@import 'material-icons/iconfont/filled.css';
@import "~@yaireo/tagify/src/tagify";

@import "_partials/fonts";
@import "_partials/reset";
@import "_partials/common";

body {
	font-size: 13px;
	font-family: 'lato', Arial, sans-serif;
	line-height: 20px;
}

#header {
	.nav-header {
		background:$white;
		color: $gray-600;
		display: flex;
		height: 3rem;
		position: fixed;
		width: 100%;
		z-index: 1040;
		.logo {
			background-color:$yellow;
			background-image: url('images/logo-ico.png');
			background-position:center;
			background-repeat: no-repeat;
			background-size: 17%;
			height: 3rem;
			width: 14rem;
		}
		.nav-header-links {
			color: $gray-600;
			&:hover {
				color:$gray-900;
			}
		}
	}
}

.main-nav {
	background:$dark-blue;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: auto;
	bottom: 0;
	color: $white;
	margin-top: 3rem;
	padding: 40px 0 15px;
	position: fixed;
	top: 0;
	width: 14rem;
	z-index: 1030;
	.main-menu {
		.menu-items {
			.menu-links {
				align-items: center;
				border-left: 2px solid transparent;
				color: $white;
				display: flex;
				line-height: 36px;
				padding: 0 10px;
				i {
					font-size:17px;
					margin-right: 12px;
					&.expand-more {
						justify-self:flex-end;
						display: none;
						margin-left: auto;
						margin-right: 0;
						transition: ease all .3s;
					}
				}
				&.active {
					background-color: $dark-blue-hover;
					border-left-color: $blue-t;
					i {
						&:first-child {color: $yellow;}
					}
				}
				&:hover {
					i {
						&:first-child {color: $yellow;}
						&.expand-more {display: inline-block}
					}
				}
				&:hover, &.expand {
					background-color: $dark-blue-hover;
				}
				&.expand {
					.expand-more {
						display: inline-block;
						transform:rotate(180deg);
					}
				}
			}
			.sub-menu {
				background-color: $dark-blue-hover;
				padding-bottom: 10px;
				.sub-menu-items {
					.sub-menu-links {
						color: $gray-400;
						display: flex;
						line-height: 26px;
						padding: 0 10px 0 44px;
						&:hover, &.active {
							color: $white;
						}
					}
				}
			}
		}
	}
}

#wrapper {
	padding: 5rem 1rem 2rem 15rem;

	.content-header {
		margin-bottom: 20px;
		padding: 30px;
		.content-header-title {
			font-size: 28px;
		}
	}
	.toolbar {
		border-bottom: 1px solid $gray-200;
		.toolbar-btn {
			opacity: 0.5;
			padding: 2px 5px;
			&:hover {opacity:1;}
		}
	}
}

#footer {
	bottom: -30px;
	left:14rem;
	position: fixed;
	transition: all ease .2s;
	&.open {bottom:0;}
	.footer-container {
		.copyright {
			align-items: center;
			color: $main;
			display: flex;
			height: 20px;
			opacity: 0.2;
			margin-bottom: 10px;
			span {margin-right:10px;}
		}
	}
}

#login {
	padding-top: 50px;
	#login-form-container {
		background-color: $white;
		color: $gray-300;
		box-shadow: 0 1px 3px rgba(0,0,0,.3);
		padding: 40px 0 50px;
		form {
			label {
				margin-bottom: 0.2rem;
			}
		}
	}
	#version {
		> div {
			line-height: 15px;
			opacity: 0.2;
			.site-link {
				display: block;
				height: 15px;
			}
		}
	}
}

@import "_partials/translation";

#menu {
  #menu-container {
    .page-container {
      .page-container-title {
        background-color: $gray-200;
        border-bottom: 2px solid $gray-400;
        color: $gray-800;
        cursor: pointer;
        font-weight: 700;
        padding: 12px 15px;
        span {
          text-transform: capitalize;
        }
        i {
          color: $main;
          font-size: 20px;
          transition: 0.3s ease all;
          &.open {
            transform: rotate(225deg);
          }
        }
      }
      .page-list {
        display: none;
        max-height: 300px;
        overflow: auto;
      }
    }

    .page-item {
      background-color: $gray-100;
      border-bottom: 1px solid $gray-200;
      max-width: 100%;
      padding: 10px 20px;
      min-width: 350px;
      &.ui-draggable-dragging {
        z-index: 3;
      }
      .page-item-title {
        align-items: center;
        cursor: grab;
        display: flex;
        justify-content: space-between;
        i {
          color: $main;
          font-size: 20px;
          transition: 0.3s ease all;
          display: none;
          &.open {
            transform: rotate(225deg);
          }
        }
      }
      .page-item-fields {
        display: none;
      }
    }

    #menu-tree {
      border: 1px solid #ddd;
      min-height: 500px;
      padding: 15px;
      .page-item {
        height: auto !important;
        i {
          cursor: pointer;
          display: inline-flex;
          z-index: 3;
        }
        .page-item-fields {
          border-top: 1px solid $gray-200;
          margin-top: 8px;
          padding: 8px 10px 10px 10px;
          .form-group {
            margin-bottom: 5px;
            label {
              font-size: 13px;
              padding: 2px 0;
            }
          }
        }
      }
    }
  }
}
