/*common*/

.bg-white {background-color:$white;}

.t-bg-success {color:$bg-success-color;}
.t-bg-info {color:$bg-info-color;}
.t-bg-warning {color:$bg-warning-color;}
.t-bg-danger {color:$bg-danger-color;}

.t-success, .t-success:hover {color: $success;}
.t-warning {color: $warning;}
.t-info {color: $info;}
.t-danger {color: $danger;}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.btn:focus,
a.page-link:focus {
	box-shadow: none !important;
}

.cursor-p {cursor: pointer;}
.hide {display: none;}
.no-radius {border-radius: 0;}
.alert {@extend .no-radius;}

.btn {
	@extend .no-radius;
	align-items: center;
	display: inline-flex;
	i {
		font-size: 21px;
		margin-right: 4px;
	}
	&[class^=btn-outline] {
		background-color: $white;
	}
}

a {
	text-decoration: none;
	transition: ease all .2s;
	&:hover {
		color: $primary;
	}
}

i.material-icons {
	display: inline-block;
	font-size: 24px;
	vertical-align: middle;
}

.table {
	thead {
		tr {
			th {
				padding: 0.3rem;
				.btn {
    			font-size: 14px;
				}
			}
			&:first-child {
				th {
					border-top: none;
					.head {
						span {font-weight: 600;}
						.sorter {
							a {
								color: $gray-400;
								display: flex;
								opacity: 0;
								width: 10px;
								&:hover,
								&.active {
									color:$primary;
									opacity: 1;
								}
								i.material-icons {
									font-size: 16px;
									line-height:0.4;
								}
							}
						}
					}
					&:hover {
						.sorter {
							a {opacity: 1;}
						}
					}
				}
			}
			&:nth-child(even) {
				background-color: rgba($gray-100, 0.5);
			}
		}
	}
	tbody {
		tr {
			td {
				i.material-icons {
					font-size: 22px;
				}
			}
			&:last-child {
				td {
					background-color: transparent;
					border-bottom: 1px solid $gray-300;
					box-shadow: none;
				}
			}
		}
	}
	&.table-hover {
		tbody {
			tr {
				&:hover {
					background-color: rgba($yellow, 0.05);
					td {
						box-shadow: none;
						&.sortable-cell {
							.sortable-item {display: inline-block;}
						}
					}
				}
				td {
					vertical-align: middle;
					&.sortable-cell {
						padding: 0.75rem 0.2rem;
						min-width: 29px;
						.sortable-item {
							color: $yellow;
							cursor: pointer;
							display: none;
						}
					}
				}
			}
		}
	}
}

.pagination {
	.page-link {
		align-items: center;
		display: flex;
		height: 100%;
		line-height: 1.6;
		&.page-link-i {
			padding: 0.25rem 0.25rem;
			border-radius:0 !important;
		}
		i {font-size: 16px;}
	}
}

form {
		.form-control, .form-select {
			@extend .no-radius;
			&:focus {
				border-color: $gray-200;
				box-shadow: 0 0 0 1px rgba($yellow, 0.25);
			}
			&::placeholder {
				color: $gray-400;
				font-size:13px;
			}
		}
		.submit {
			justify-content: flex-end;
		}
}
.dgtx-form {
	position: relative;
	.date-select {
		.form-control {margin-right: 10px;}
	}
	.submit {
		border-top: 1px solid #eee;
		justify-content: flex-end;
		margin-bottom:0;
		margin-top: 45px;
		padding-top: 20px;
	}
	.form-return-link {
		bottom:0;
		left: 0;
		position: absolute;
	}
}

.dgtx-switch {
	align-items: center;
	background:$gray-100;
	display: inline-flex;
	height: 100%;
	position: relative;
	width: auto;
	.form-check {
		padding:0;
		height: 100%;
		input[type="radio"] {display: none;}
		label {
			align-items: center;
			color: $gray-400;
			cursor: pointer;
			display: flex;
			justify-content: center;
			height: 100%;
			position: relative;
			width: 80px;
			z-index: 3;
			&.checked {color:$white;}
		}
	}
	&::before {
		content: " ";
		display: flex;
		height: 100%;
		position: absolute;
		transition: all ease .3s;
		margin-left: 0;
		width: 80px;
		z-index: 2;
	}
	&.dgtx-switch-yes::before {
		background-color: $primary;
	}
	&.dgtx-switch-no::before {
		@extend .bg-danger;
		margin-left: 80px;
	}
}

.tagify.tag {
  --tag-bg: #17a2b8;
  --tag-hover: #17a2b8;
  --tag-text-color: #ffffff;
  --tag-remove-btn-color: #ffffff;
}
