/*Colors*/
$main:#000000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$white:#FFFFFF;
$yellow:#ffd900;

$dark-blue:#1e3253;
$dark-blue-hover:#172b44;
$blue-t:#a8f3fc;
$blue-turquish-light:#d7f7fa;
$bg-grey:#ecf0f7;

$font-light-grey:#f4f6f8;
$font-ico-grey:#ced5df;
$font-ico-grey-hover:#7d8796;

$bg-primary-color:#cce5ff;
$bg-success-color:#d4edda;
$bg-warning-color:#fff3cd;
$bg-danger-color:#f8d7da;
$bg-info-color:#d1ecf1;

$primary:#004085;
$secondary: $yellow;
$info:#0c5460;
$light: $gray-200;

/*Fonts*/
$font-ico:'Material Icons';
