/*Colors*/
$main:#000000;
$white:#FFFFFF;
$grey:#efefef;
$grey1:#111111;
$grey2:#222222;
$grey3:#333333;
$grey4:#444444;
$grey5:#555555;
$grey6:#666666;
$grey7:#777777;
$grey8:#888888;
$grey-border:#ced4da;
$yellow:#ffd900;

$dark-blue:#1e3253;
$dark-blue-hover:#172b44;
$blue-t:#a8f3fc;
$blue-turquish-light:#d7f7fa;
$bg-grey:#ecf0f7;

$font-light-grey:#f4f6f8;
$font-ico-grey:#ced5df;
$font-ico-grey-hover:#7d8796;

$bg-primary-color:#cce5ff;
$bg-success-color:#d4edda;
$bg-warning-color:#fff3cd;
$bg-danger-color:#f8d7da;
$bg-info-color:#d1ecf1;

$primary-color:#004085;
$success-color:#155724;
$warning-color:#856404;
$danger-color:#721c24;
$info-color:#0c5460;

$tr-hover:#fafbfc;

/*Fonts*/
$font-ico:'Material Icons';
